/* Default style for the stars */
.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
}


.starHover:hover {
  background-color: #ffd700; 
  
}

.starActive {
  background-color: #ffd700; 
}


.starInactive {
  background-color: #ccc;
}
