.window{
    margin: auto;
    width: 1024px;
    height: 768px;
    background-image: url(../img/bg.jpg);
    color: white;
}

.box{
    color: white;
    margin-left: 100px;
    margin-right: 100px;  
}

#logo img{
    width: 150px;
    margin-top: 50px;
}

h3, h4 {
    font-family: 'Outfit', sans-serif;
}

p{
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
}

h3{
    font-size: 50px;
    line-height: 10px;
    padding-top: 50px;
}

#recommend{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

#stelle{
    margin-left: 215px;
}

#stelle img{
    padding: 5px;
    fill: black;
}

#feedback{
    padding: 50px;
    text-align: center;
}
input{
    height: 30px;
    width: 650px;
    background: transparent;
    border: none;
    border-bottom: 3px solid #D20094;
}
input::placeholder{
    margin-left: 20px;
}

button{
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bolder;
    font-size: 1.4em;
    background-color: #00ffff;
    box-shadow:  0 0 30px  #00ffff;
    border: none;
}

#bottone{
    margin-top: 10px;
    
    margin-left: 380px;
    
}