.window{
    margin: auto;
    width: 1024px;
    height: 768px;
    background-image: url(../img/bg.jpg);
    
    
    
    
}
h3, h4 , button{
    font-family: 'Outfit', sans-serif;
}
p {
    font-family: 'Inter', sans-serif;
    
}

.box{
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    
}
#logo img{
    width: 150px;
    padding-top: 40px;

}
h3{
    font-size: 3em;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 130px;
    padding-bottom: 30px;
    
}
span{
    font-weight: 300;
}
button{
    
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 110px;
    padding-right: 110px;
    font-weight: bolder;
    font-size: 1em;
    -moz-box-shadow-bottom: 4px 4px 4px black;
    -webkit-box-shadow-bottom: 4px 4px 4px black;
    background: rgba(168, 173, 168, 0.171);
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 60px;
    font-size: 0.8em;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.096);
    
    

}
.bottone{
    margin-left: 130px;
    margin-right: 150px;
    display: flex;
    
    
    
}
h4{
    margin-top: 110px;
    color: white;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 430px;
    letter-spacing: 3px;
}
b{
    color: #D20094;
    font-weight: 600;
    font-size: 1em;
}

button:hover{
    background-color: #D20094;

}